// Windows resource file for Onesimus application icon
// This sets the icon that appears on the .exe file in Windows Explorer

IDI_ICON1 ICON "icons/onesimus.ico"

// Version information (optional but recommended)
#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,9,0,0
PRODUCTVERSION  0,9,0,0
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",      "Onesimus Project"
            VALUE "FileDescription",  "Onesimus - Bareos/Bacula Backup GUI"
            VALUE "FileVersion",      "0.9.0.0"
            VALUE "InternalName",     "Onesimus"
            VALUE "LegalCopyright",   "Copyright (C) 2024-2026"
            VALUE "OriginalFilename", "Onesimus.exe"
            VALUE "ProductName",      "Onesimus"
            VALUE "ProductVersion",   "0.9.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0409, 0x04B0
    END
END
